<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Save</title>
</head>
<body>
    <h1>Welcome to the Gym Save app</h1>
    <p><a href="/sessions">Add a new session</a></p>
    <p><a href="/sessions/all-sessions">List all sessions</a></p>
    <p><a href="/sessions/search-sessions">Search sessions</a></p>


</body>
</html>
