<h1>Getting all sessions</h1>
<table>
    <% for (var i=0; i < sessionsData.length; i++) { %>
    <tr>
        <td><%= sessionsData[i].exercise %></td>
        <td><%= sessionsData[i].repetitions %></td>
        <td><%= sessionsData[i].series %></td>
    </tr>
    <% } %>
</table>