<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Save</title>
</head>
<body>
    <h1>Create a session</h1>
    <form action="/sessions/create-session" method="post">
        <input type="text" name="exercise" placeholder="exercise">
        <input type="text" name="repetitions" placeholder="repetitions">
        <input type="text" name="series" placeholder="series">
        <input type="submit" value="Submit">
        
    </form>
    
</body>
</html>
