<h1>Create a session</h1>
<form action="/sessions/create-session" method="post">
    <input type="text" name="exercise[]" placeholder="exercise">
    <input type="text" name="repetitions[]" placeholder="repetitions">
    <input type="text" name="series[]" placeholder="series">
    <button id="addBtn" type="button">+</button>
    <input type="hidden" id="exerciseIndex" name="exerciseIndex" value=1>
    <input type="submit" value="Submit">
</form>
<script type="text/javascript" src="js/exo-add.js"></script>