<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Save</title>
</head>
<body>
    <h1>Search for a session</h1>
    <form action="search-by-date" method="get">
        <label for="date_pick">Gym session date:</label>
        <input type="date" id="date_pick" name="date_picked" value=<% new Date().toDateString() %>>
        <input type="submit" value="Search">
    </form>

</body>
</html>
